<section class="home">
  <h2 class="home-title">個人の目標を共有しよう</h2>
  <p class="home-content">Growは個人の目標を投稿しシェアし合う<br/>タスク管理SNSです。</p>

  <%= image_tag("top.png", size: "200x200", alt: "avatar image", class: "home-mainVisual") %>
</section>

<section class="function-cover">
  <h2>Growの機能</h2>

  <dl class="function">
    <dt class="function-title">タスク管理機能</dt>
    <dd>
      <ul class="function-desc">
        <li>目標を設定、編集、削除することができます。</li>
        <li>目標の状態（status）を設定することができます。</li>
      </ul>
    </dd>
  </dl>

  <dl class="function">
    <dt class="function-title">SNS機能</dt>
    <dd>
      <ul class="function-desc">
        <li>他の人の目標を見ることができます。</li>
        <li>いいねすることができます。</li>
        <li>コメントすることができます。</li>
        <li>フォローすることができます。</li>
        <li>通知を受け取ることができます。</li>
      </ul>
    </dd>
  </dl>
</section>