<h1>フォロワー：<%= @users.count %>人</h1>

<% if @users.empty? %>
  <p>フォローされていません</p>
<% end %>

<div class="follow-cover">
  <% @users.each do |user| %>
    <hr>
    <p><span>@</span><%= link_to user.username, user_path(user.username) %></p>

    <% if current_user != user %>
      <% if user.already_followed?(current_user) %>
        <p><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete %></p>
      <% else %>
        <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
      <% end %>
    <% end %>
  <% end %>
</div>