<%= render 'search_form', search: @search %>

<div class="user-cover">
  <h2>ユーザー一覧</h2>
  <% provide(:title, 'すべてのユーザー') %>

  <%= render 'users/user_cards', group: @users %>

  <div>
    <%= paginate @user %>
    <div>
      <button>さらに表示</button>
    </div>
  </div>
</div>