// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comment-modal
.modal {
  &-bg {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.6;
    pointer-events: none;
    transition: all .2s ease-out;
    filter: blur(8px);
  }
}


// comment
.comment {
  &-username {
    font-weight: bold;
  }

  &-button {
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 4px;

    &:hover {
      border: 1px solid #2c9a7a;
      background-color: #2c9a7a;
      color: #fff;
      font-weight: bold;
    }

    &-cover {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.comment-form {
  z-index: 4;
  position: fixed;
  top: 25%;
  display: none;
  min-width: 260px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff;

  > textarea {
    width: 100%;
    min-height: 150px;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: #eee;
  }
}