@import 'mixin';

// main
main {
  margin: 10px;
  padding-bottom: 40px;
}

// flash
.success {
  @include flash(#155724, #d4edda, #c3e6cb);
}
.notice {
  @include flash(#0c5460, #d1ecf1, #bee5eb);
}

// search
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-cover {
    padding-bottom: 10px;
  }

  &-title {
  }

  &-input {
    height: 25px;
    margin: 0 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  &-button {
    border: 1px solid #aaa;
    border-radius: 12px;
  }
}