@import 'mixin';

// main
.main {
  &-loggedIn {
    margin: 20px;
    padding-bottom: 40px;
  }

  &-notLoggedIn {
    padding-bottom: 40px;
  }
}


// sign_in
.guest-login {
  &-cover {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }

  &-link {
    color: #fff;

    &-cover {
      position: fixed;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 68px;
      width: 100%;
      background-color: #ee8800;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  &-modal {
    z-index: 4;
    position: fixed;
    top: 30%;
    display: none;
    height: 120px;
    min-width: 260px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;

    &-header {
      text-align: center;
    }

    &-footer {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
    }
  }

  &-button {
    border: 1px solid #ccc;
    height: 48px;
    width: 110px;
    border-radius: 4px;
    font-weight: bold;
  }

  &-cancel-button {
    @extend .guest-login-button;
  }
}

// flash
.success {
  @include flash(#155724, #d4edda, #c3e6cb);
}
.notice {
  @include flash(#0c5460, #d1ecf1, #bee5eb);

  &-cover {
    background-color: #edf4f0;
  }
}

// back-button
.back-button {
  display: inline-block;
  width: 30px;
  color: #2c9a7a;
  font-size: 2rem;
  text-align: center;

  &:hover {
    border-radius: 50%;
    background-color: #edf4f0;
  }
}

// search
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-cover {
  }

  &-title {
  }

  &-input {
    height: 38px;
    width: 158px;
    margin: 0 10px;
    padding-left: 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
  }

  &-button {
    height: 38px;
    width: 40px;
    border: 1px solid #aaa;
    border-radius: 19px;
  }
}

// like
.liked-button {
  color: #e0245e;
}