.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #edf4f0;
  text-align: center;

  &-logo {
    margin: 0 10px;
    font-weight: bold;
  }
}

.nav {
  display: flex;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    list-style: none;

    > a {
      color: #2c9a7a;
    }
  }
}