// media queries
$tab: 768px; // タブレット以上(pc用)
$sp: 767px; // タブレット以下(sp用)
$sp_ss: 349px;

@mixin pc {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin sp_ss {
  @media (max-width: ($sp_ss)) {
    @content;
  }
}

// flash
@mixin flash($color, $bgColor, $borderColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  max-width: 500px;
  margin: 0 auto;
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;
  border-radius: 4px;
}