// media queries
@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

// flash
@mixin flash($color, $bgColor, $borderColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 500px;
  margin: 0 auto;
  color: $color;
  background-color: $bgColor;
  border-color: $borderColor;
  border-radius: 4px;
}