// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// auth
.auth {
  max-width: 260px;
  margin: 0 auto;

  &-title {
    // todo: baseのfont-size決定後、「rem」で指定する。
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  &-button {
    height: 40px;
    width: 100%;
    max-width: 260px;
    border: 1px solid #2c9a7a;
    border-radius: 4px;
    background: #2c9a7a;
    color: #fff;
    font-weight: bold;

    &:hover {
      border: 2px solid #2c9a7a;
      background: #fff;
      color: #2c9a7a;
    }

    &-cover {
      margin: 10px 0;
    }
  }
}

.auth-form {
  margin: 15px 0;

  &-group {
    &:not(:first-of-type){
      margin-top: 10px;
    }

    > label {
      font-size: 16px;
    }

    > input {
      height: 40px;
      width: 100%;
      max-width: 260px;
      margin-top: 5px;
      font-size: 120%;
    }

    > textarea {
      height: 120px;
      width: 100%;
      max-width: 260px;
      margin-top: 5px;
      padding: 5px;
      resize: none;
    }
  }

  &-img {
    border-radius: 50%;

    &-cover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-imgUploadButton {
    display: inline-block;
    padding: 10px;
    border: 2px solid #2c9a7a;
    border-radius: 25px;
    box-sizing: border-box;
    background: #2c9a7a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      border: 2px solid #2c9a7a;
      background: #fff;
      color: #2c9a7a;
    }

    + input {
      position: relative;
      margin: 8px 0 0 -14px;

      &::before {
        content: "添付ファイル：";
        position: absolute;
        background: #fff;
        width: 110px;
        height: 27px;
        line-height: 1.8;
        text-align: right;
      }
    }

    &-cover {
      margin: 10px 0;
    }
  }

  &-remember {
    display: flex;
    align-items: center;
    margin: 10px 0;

    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }
}

// sign_in
.signin {
  $parent: 'auth';
  @extend .#{$parent};

  &-title {
    // todo: baseのfont-size決定後、「rem」で指定する。
    @extend .#{$parent}-title;
  }

  &-button {
    @extend .#{$parent}-button;

    &:hover {
      @extend .#{$parent}-button:hover;
    }

    &-cover {
      margin: 10px 0;
    }
  }
}

.signin-form {
  $parent: 'auth-form';
  @extend .#{$parent};

  &-group {
    &:not(:first-of-type){
      @extend .#{$parent}-group:not(:first-of-type);
    }

    > label {
      font-size: 16px;
    }

    > input {
      height: 40px;
      width: 100%;
      max-width: 260px;
      margin-top: 5px;
      font-size: 120%;
    }
  }

  &-remember {
    @extend .#{$parent}-remember;

    > input {
      margin: 0;
    }

    > label {
      margin-left: 5px;
    }
  }
}

// sign_up
.signup {
  $parent: 'auth';
  @extend .#{$parent};

  &-title {
    // todo: baseのfont-size決定後、「rem」で指定する。
    @extend .#{$parent}-title;
  }

  &-button {
    @extend .#{$parent}-button;

    &:hover {
      @extend .#{$parent}-button:hover;
    }

    &-cover {
      margin: 20px 0;
    }
  }
}

.signup-form {
  $parent: 'auth-form';
  @extend .#{$parent};

  &-group {
    &:not(:first-of-type){
      @extend .#{$parent}-group:not(:first-of-type);
    }

    > label {
      font-size: 16px;
    }

    > input {
      height: 40px;
      width: 100%;
      max-width: 260px;
      margin-top: 5px;
      font-size: 120%;
    }
  }
}

// index
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 260px;
  max-width: 280px;
  min-width: 280px;
  margin: 10px auto;
  padding: 10px 10px 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;

  &-cover {
    margin-top: 16px;
  }

  &-image {
    border-radius: 50%;

    &-cover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-username {
    font-weight: bold;
    text-align: center;
  }
}

// show
.user-show-button {
  height: 40px;
  background: #fff;
  border-radius: 20px;
}

.user-show {
  &-header {
    position: relative;

    &-head {
      display: flex;
      align-items: center;
    }
  }

  &-image-cover {
    > img {
      border-radius: 50%;
    }
  }

  &-editbutton {
    @extend .user-show-button;
    color: #2c9a7a;
    border: 1px solid #2c9a7a;

    &:hover {
      background: #2c9a7a;
      font-weight: bold;
      color: #fff;
    }
  }

  &-logoutbutton {
    @extend .user-show-button;
    color: #ff0000;
    border: 1px solid #ff0000;

    &:hover {
      background: #ff0000;
      font-weight: bold;
      color: #fff;
    }

    &-cover {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }

  &-followbutton {
    @extend .user-show-button;
    width: 122px;
    color: #2c9a7a;
    border: 1px solid #2c9a7a;

    &:hover {
      background: #2c9a7a;
      font-weight: bold;
      color: #fff;
    }

    &.is-active {
      background: #2c9a7a;
      font-weight: bold;
      color: #fff;
    }

    &-cover {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-body {
    margin: 4px 0;
  }

  &-tabs {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    border-bottom: 1px solid #bbb;
    text-align: center;

    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      font-weight: bold;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid #2c9a7a;
        color: #2c9a7a;
        box-sizing: border-box;
      }

      &.active-goals:hover {
        border-bottom: 2px solid #2c9a7a;
        color: #2c9a7a;
        box-sizing: border-box;
      }

      &.active-likes {
        &.active {
          border-bottom: 2px solid #e0245e;
          color: #e0245e;
          box-sizing: border-box;
        }

        &:hover {
          border-bottom: 2px solid #e0245e;
          color: #e0245e;
          box-sizing: border-box;
        }
      }
    }
  }

  &-tabContents {
    margin: 10px 0;

    > li {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}